
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Titillium+Web&display=swap");

* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    max-width: 450px;
    min-width: 300px;
}

.game-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-width: 380px;
}

.ground {
    height: 100%;
    position: relative;
    overflow: hidden;
    /* background-image: url('../../../assets/images/Back_game.png'); */
}

.sonic-gif {
    position: absolute;
    bottom: 0;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    height: 250px;
    /* Зафиксированная высота */
    width: 350px;
    /* Зафиксированная ширина (если нужно) */
    filter: drop-shadow(0 0 10px #00ffff);
}


.meme-text {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
    animation: pulse 1s infinite;
    text-align: center;
}

@keyframes pulse {
    0% {
        transform: translateX(-50%) scale(1);
    }

    50% {
        transform: translateX(-50%) scale(1.1);
    }

    100% {
        transform: translateX(-50%) scale(1);
    }
}

.loading-bar-container {
    padding: 10px 20px;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
  }
  
  .loading-bar {
    border-radius: 25px;
    overflow: hidden;
    height: 30px;
    position: relative;
    box-shadow: 0 0 10px #00ffff;
    z-index: 99;
  }
  
  /* Остальные стили остаются без изменений */

.progress {
    height: 100%;
    background: linear-gradient(to right, #00ffff, #ff00ff);
    transition: width 0.3s ease-out;
    animation: glow 2s infinite;
}

.loading-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff;
}

.meme-container {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 200px;
    height: 200px;
}